:root {
  --prority-height: #ed1515;
  --prority-low: #f47750;
  --prority-info: #3daee9;
  --text-light: #4d4d4d;
}

footer {
  color: var(--text-light);
  text-align: center;
  padding: 12px;
  font-size: 0.75rem;
  border-top: 1px solid var(--light-border);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 100;
  margin: 0;
  font-size: 2rem;
}

#content h3 {
  text-align: center;
  font-weight: 100;
  font-size: 2rem;
}
h4 {
  text-align: center;
  font-weight: 100;
  font-size: 1.5rem;
}

#welcome {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

#welcome > img {
  width: 128px;
  height: 128px;
}

#welcome > p {
  text-align: center;
  font-weight: 100;
  color: var(--text-light);
}

#welcome li {
  list-style: none;
  margin: 12px;
}

#welcome ul {
  margin-top: 12px;
}

#welcome li button {
  width: 100%;
  padding: 12px;
  text-align: left;
  font-size: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#welcome li button img {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}

#content {
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#commands {
  display: flex;
  flex-wrap: wrap;
}

#commands button {
  font-size: 2em;
  margin: 0 12px 12px 12px;
  padding: 36px;
  flex-grow: 1;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li.task,
li.order {
  padding: 24px;
  margin: 12px;
  border-radius: 2px;
  font-size: 2em;
  display: flex;
  box-shadow: 0 2px 4px #00000080;
}

li .message {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

li.task button,
li.order button {
  font-size: 1em;
}

li p {
  text-align: center;
  width: 100%;
}

li.role {
  padding: 8px;
  cursor: pointer;
}

.priority-height {
  background: var(--prority-height);
  color: white;
}

.priority-low {
  background: var(--prority-low);
  color: white;
}

.priority-info {
  background: var(--prority-info);
  color: white;
}


#roleEditor {
  display: flex;
  min-width: 480px;
  min-height: 320px;
}

#roleEditorNavigation {
  border-right: 1px solid var(--light-border);
}

#roleEditorContent {
  background-color: var(--background);
  flex-grow: 1;
  padding: 4px
}


@media (max-width: 480px) {
  li.task,
  li.order {
    font-size: 1rem;
    padding: 12px;
  }

  h1 {
    font-size: 1.5rem;
  }

  #commands button {
    padding: 24px;
  }
}
